@page "/museum"

@* https://learn.microsoft.com/en-us/aspnet/core/blazor/components/quickgrid?view=aspnetcore-9.0&tabs=visual-studio *@

@rendermode InteractiveWebAssembly
@* @rendermode InteractiveAuto *@

@inject IDepartmentService _departmentService

<PageTitle>@_title</PageTitle>

<h1>@_title</h1>

<QuickGrid Items="_items">
    <PropertyColumn Property="@(p => p.DepartmentId)" Sortable="true" />
    <PropertyColumn Property="@(p => p.DisplayName)" Sortable="true" />
</QuickGrid>

@code {
    private string _title = "Museum";
    private IQueryable<Department>? _items;

    protected override async Task OnInitializedAsync()
    {
        var result = await _departmentService.Get();
        _items = result?.AsQueryable();
    }
}


