@page "/Museum/Departments"

@* https://learn.microsoft.com/en-us/aspnet/core/blazor/components/quickgrid?view=aspnetcore-9.0&tabs=visual-studio *@

@rendermode InteractiveWebAssembly
@* @rendermode InteractiveAuto *@
@attribute [StreamRendering]
@inject IMuseumService _museumService

<PageTitle>@_title</PageTitle>

<h1>@_title</h1>

<QuickGrid Items="_items">
    <PropertyColumn Property="@(p => p.DepartmentId)" Sortable="true" />
    <PropertyColumn Property="@(p => p.DisplayName)" Sortable="true" />
</QuickGrid>

@code {
    private string _title = "Museum Departments";
    private IQueryable<Department>? _items;

    protected override async Task OnInitializedAsync()
    {
        var result = await _museumService.GetDepartments();
        _items = result?.AsQueryable();
    }
}


